.general-error {
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.45);
  border-radius: rem(10);
  margin: auto;
  max-width: rem(500);
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  &__header {
    border-bottom: rem(1) solid rgba(255, 255, 255, 0.5);
    padding: rem(20);
  }

  &__body {
    padding: rem(20);
  }
}
