html,
body,
#root {
  height: 100%;
}

body {
  background: no-repeat center/cover url(https://i.redd.it/52f61nfzmwl51.jpg);
  background-attachment: fixed;
  color: $white;
  padding: rem(24);
  line-height: 1.3;
}

main {
  max-width: rem(1024);
}

a {
  color: lighten($cyan-600, 5%) !important;
}

p {
  margin-top: rem(16);
}

main {
  max-width: rem(1024);
  margin: auto;
}
