.atomikui-list--horizontal {
  & > * + * {
    margin-left: rem(8);
  }
}

.atomikui-modal {
  border-radius: rem(10);
  max-width: rem(500);
  overflow: hidden;
  position: relative;
}

.atomikui-modal__title {
  font-size: rem(30);
  text-transform: lowercase;
}

.atomikui-label {
  font-size: rem(16);
  font-weight: $font-medium;
  text-transform: lowercase;
}

.atomikui-overlay {
  &.is-modal-overlay {
    position: absolute;
  }
  &.is-confirm {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
  }
}
